<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhocn.keshi_detail.mapper.KeshiDetailMapper">

    <select id="getList" parameterType="Keshidetail" resultType="Keshidetail">
		select * from keshi_detail where Company =#{c}

	</select>
	<select id="getList1" parameterType="Keshidetail" resultType="Keshidetail">
		select * from keshi_detail where Company =#{c}
		<if test="a != null and b != ''">
			and teacher_name like #{a} and keshi like #{b}
		</if>
	</select>

	<select id="getListById" parameterType="Keshidetail" resultType="Keshidetail">
		select * from keshi_detail where id=#{ksd.id} and Company =#{c}
	</select>

	<select id="shezhiList" parameterType="Shezhi" resultType="Shezhi">
		select * from shezhi where  Company =#{c}
	</select>

	<insert id="add">
		insert into
		keshi_detail(riqi,student_name,course,keshi,teacher_name,jine, Company)
		values(#{ksd.riqi},#{ksd.student_name},#{ksd.course},#{ksd.keshi},#{ksd.teacher_name},#{ksd.jine},#{c})
	</insert>

	<update id="update">
		update keshi_detail
		set
		riqi=#{ksd.riqi},
		student_name=#{ksd.student_name},
		course=#{ksd.course},
		keshi=#{ksd.keshi},
		teacher_name=#{ksd.teacher_name},
		jine=#{ksd.jine}
		where
		id=#{ksd.id} and Company =#{c}
	</update>

	<delete id="delete">
		delete from keshi_detail
		where id=#{ksd.id} and Company =#{c}
	</delete>

	<select id="getTeacherKeshiList" parameterType="Keshidetail" resultType="Keshidetail">
		select teacher_name,course,sum(keshi) as keshi,jine,sum(jine*keshi) as gongzi from keshi_detail where Company =#{c} group by teacher_name,jine order by teacher_name
	</select>

</mapper>