<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yhocn.pay.mapper.PaymentMapper">

	<select id="selectAll1" parameterType="Payment" resultType="Payment">
		select * from payment where Company =#{c}

	</select>
	<select id="selectAll" parameterType="Payment" resultType="Payment">
		select * from payment where Company =#{c}
		<if test="d != null and d != ''">
			and realname like "%"#{d}"%"
		</if>
		<if test=" a != '' and  b != ''">
			 and  ksdate between #{a} and #{b}
		</if>
	</select>

	<select id="selectById" resultType="Payment">
		select * from payment where
		id=#{p.id} and Company =#{c}
	</select>

	<insert id="add">
		insert into
		payment(ksdate,realname,paid,money,paiment,keeper,remark,Company)
		values( 	<choose>
		<when test="p.ksdate != ''">
			#{p.ksdate}
		</when>
		<otherwise>
			null
		</otherwise>
	</choose>,
	    #{p.realname},#{p.paid},#{p.money},#{p.paiment},
		#{p.keeper},#{p.remark},#{c})
	</insert>

	<update id="update">
		update payment
		set
		ksdate= <choose>
		<when test="p.ksdate != ''">
			#{p.ksdate}
		</when>
		<otherwise>
			null
		</otherwise>
	</choose>,
		realname=#{p.realname},
		paid=#{p.paid},
		paiment=#{p.paiment},
		keeper=#{p.keeper},
		remark=#{p.remark},
		money=#{p.money}
		where
		id=#{p.id} and Company =#{c}
	</update>

	<delete id="delete">
		delete from payment
		where id=#{p.id} and Company =#{c}
	</delete>

	<select id="selectByRealname" resultType="Payment">
		select *
		from payment
		where realname like "%"#{p.realname}"%" and Company =#{c}
	</select>
	
</mapper>