<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yhocn.student.mapper.StudentMapper">

	<select id="selectAll" parameterType="Student" resultType="Student">
		select id,RealName,Sex,rgdate,Course,Teacher,Classnum,phone,Fee,Cost,Fee - Cost as Nocost,Hour,Allhour - Hour as Nohour,Allhour,Type FROM Student
		where Company =#{c}

	</select>
	<select id="selectAll1" parameterType="Student" resultType="Student">
		select id,RealName,Sex,rgdate,Course,Teacher,Classnum,phone,Fee,Cost,Fee - Cost as Nocost,Hour,Allhour - Hour as Nohour,Allhour,Type FROM Student
		where Company =#{c}
		<if test="a != null and a != ''">
			and Realname like "%"#{a}"%"
		</if>
	</select>

	<select id="selectArr" parameterType="Student" resultType="Student">
		select * from student
		where Nocost is not null and Nocost>0 and Company =#{c}

	</select>
	<select id="selectArr1" parameterType="Student" resultType="Student">
		select * from student
		where Nocost is not null and Nocost>0 and Company =#{c}
		<if test="a != null and a != ''">
			and Realname like "%"#{a}"%"
		</if>
	</select>
	
	<select id="selectById" resultType="Student">
		select * from student where
		ID=#{s.id} and Company =#{c}
	</select>

	<insert id="add">
		insert into
		student(RealName,Sex,rgdate,Course,Teacher,
		Classnum,phone,Fee,Cost,Nocost,Hour,Nohour,Allhour,Type,Company)
		values(#{s.realName},#{s.sex},
		       <choose>
		<when test="s.rgdate != ''">
			#{s.rgdate}
		</when>
		<otherwise>
			null
		</otherwise>
	</choose>,
		#{s.course},#{s.teacher},
		#{s.classnum},#{s.phone},#{s.fee},#{s.cost},#{s.fee}-#{s.cost},#{s.hour},
		#{s.allHour}-#{s.hour},#{s.allHour},#{s.type},#{c})
	</insert>

	<update id="update">
		update student
		set
		RealName=#{s.realName},
		Sex=#{s.sex},
		rgdate=<choose>
		<when test="s.rgdate != ''">
			#{s.rgdate}
		</when>
		<otherwise>
			null
		</otherwise>
	</choose>,
		Course=#{s.course},
		Teacher=#{s.teacher},
		Classnum=#{s.classnum},
		phone=#{s.phone},
		Fee=#{s.fee},
		Cost=#{s.cost},
		Nocost=#{s.nocost},
		Hour=#{s.hour},
		Nohour=#{s.nohour},
		Allhour=#{s.allHour},
		Type=#{s.type}
		where
		ID=#{s.id} and Company =#{c}
	</update>

	<delete id="delete">
		delete from student
		where ID=#{s.id} and Company =#{c}
	</delete>


	<select id="selectByRealName" resultType="Student">
		select *
		from student
		where Company =#{c}
		<if test="a != null and a != ''">
		and  RealName like "%"#{a}"%"
		</if >
		<if test="a = null and a = ''">
			and  RealName = null
		</if>
	</select>

	<select id="shezhiList" parameterType="Shezhi" resultType="Shezhi">
		select * from shezhi where Company =#{c}
	</select>
	
</mapper>